
html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Raleway', sans-serif;
    color: black;
}

a:link {
    text-decoration: none;
    color: inherit;

} 
a:visited {
    text-decoration: none;
    color: inherit;

}
a:hover {
    text-decoration: none;
    color: inherit;

}
a:active {
    text-decoration: none;
    color: inherit;

}

button:focus{
    outline: 0px;
}

ul{
    list-style: none;
}

h1{
    font-weight: 900;
    text-align: center;
}

h2{
    height: 50px;
    text-align: center;
    font-weight: 900;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 30px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    color: rgba(133, 133, 133, 0.582);
    background-color: transparent;
    
}

.top-top{
    height: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    background-color: rgb(202, 202, 202);
    justify-content: space-between;
    align-items: center;
}

.address{
    font-size: 11px;
    float: left;
    color: white;
    padding-left: 5px;
}

.social{
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    color: white;
    font-size: 1.5rem;
    justify-content: space-evenly;
    width: 100px;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #d4cfc4;
    position: relative;
}
  
  /* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}
  
  /* Style navigation menu links */
.topnav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
  /* Style the hamburger menu */
.topnav .icon {
    background: black;
    padding: 16px 18px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
  
  /* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Style the active link (or home/logo) */
.active {
    background-color: #d4cfc4;
    color: white;
    height: 50px;
}

.active img{
      height: 40px;
      padding: 5px;
}

.menu-item{
    padding: 10px;
}

#myLinks{
    text-align: center;
    font-weight: 700;
}

/* Hero section */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("assets/woodivity_hero_img2.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
}

.hero-logo img{
    margin-top: 50px;
    height: 250px;
}

.hero-title{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Alfa Slab One', serif;
    font-size: 3rem;
    margin-bottom: 30px;
}
.hero-desc{
    text-align: center;
    color: rgb(59, 59, 59);
    font-size: 2.3rem;
    margin-top: 0px;
}

/* Services section */

.services-cont{
    background-color: #f7f7f7;
    padding-top: 25px;
    padding-bottom: 25px;
}

.services{
    width: 80%;
    display: flex;
    margin: auto; 
}

.service-title-mobil{
    display: none;
    color: black;
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
    justify-content: center;
}

.service-main{
    width:50%;
    margin: 10px 25px 10px 0px;
    background-color: white;
}

.service-title{
    color: black;
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
}

.service-main-dynamic{
    background-image: url(assets/woodivity_szolgaltatas2.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.services-portfolio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 50%;
    
}

.service{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.service-img{
    text-align: center;
}
.service-img i{
    color: #db9c27;
    margin-bottom: 10px;
}

.service-image i{
    color: #000000;
    margin-bottom: 10px;
}

.service-button{
    color: #db9c27;
    background-color: white;
    border: 0px;
    padding: 10px 0px;
    margin-top: 10px auto;
    text-align: right;
    cursor: pointer;
}
.service-button:focus{
    color: #756039;
}
.service-desc{
    text-align: justify;
}

.service-desc-change{
    text-align: justify;
    width: 80%;
}

.hidden-button-a{
    display: none;
    margin: auto;
}

.hidden-a{
    display: none;
    flex-direction: column;
    width: 100%;
}

.hidden-button-b{
    display: none;
    margin: auto;

}

.hidden-b{
    display: none;
    flex-direction: column;
    width: 100%;
}

.hidden-button-c{
    display: none;
    margin: auto;

}

.hidden-c{
    display: none;
    flex-direction: column;
    width: 100%;
}

.hidden-button-d{
    display: none;
    margin: auto;

}

.hidden-d{
    display: none;
    flex-direction: column;
    width: 100%;
}

/* Products section */

.products-container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
}

.products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;

}

.product{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: left;
    margin: 30px; 
    padding: 10px;
    width: 280px;
}

.product h2{
    margin-bottom: 0px;
    height: 30px;
    text-align: left;
}

.product-img img{
    width: 280px;
}

.product-title{
    color: rgb(66, 66, 66);
    height: 40px;
}

.price{
    font-weight: bolder;
    color: #db9c27;
}

.product-button{
    border: 1px solid #db9c27;
    color: #db9c27;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    padding: 5px;
    margin-top: 15px;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
}

.product a{
    color: black;
}
.product a:visited{
    color: black;
}

.product a:active{
    color: black;
}

.product a:link{
    color: black;
}

/* Contact section */

.contact-container{
    background-color: #f7f7f7;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.contact{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 10px;
    margin: auto;
    justify-content: space-evenly;
}

.gform{
    display: flex;
    flex-direction: column;
    width: 48%;
}

.input-field{
    border: 0px;
    background-color: white;
    color: black;
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
}

.input-area{
    border: 0px;
    background-color: white;
    color: black;
    width: 100%;
    margin-bottom: 20px;
}

.button-send{
    border: 1px solid #db9c27;
    color: #db9c27;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}

.map{
    width: 48%;
}

/* Footer section */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
    background-color: #d4cfc4;
    font-size: 10px;
    text-align: center;
    height: auto;
    justify-content: center;
    padding: 14px;
}

.social-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(80, 80, 80);
    font-size: 2rem;
    justify-content: space-evenly;
    width: 200px;
}

.creator{
    margin-bottom: 0px;
}

.subhead{
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 600px) {
    
    .hero{
        height: 100vh;
    }

    .services{
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .service{
        margin: 10px 0px 10px 0px;
        width: 90%;
    }

    .service-title-mobil{
        display: flex;
    }

    .service-main{
        display: none;
    }

    .services-portfolio{
        flex-direction: column;
        width: 100%;
        margin: auto;
        justify-self: center;
    }

    .service-button{
        display: none;
    }

    .service-desc-change{
        width: 100%;
        text-align: left;
    }

    .hidden-button-a{
        display: flex;
    }

    .hidden-button-b{
        display: flex;
    }

    .hidden-button-c{
        display: flex;
    }

    .hidden-button-d{
        display: flex;
    }

    .product{
        margin: 0px;
    }

    .contact{
        flex-direction: column;
    }

    .gform{
        width: 100%;
    }

    .map{
        width: 100%;
    }
}



@media screen and (min-width: 601px) and (max-width: 1290px) {

    .service-main{
        display: none;
    }

    .service-title-mobil{
        display: flex;
    }

    .services{
        width: 80%;
    }

    .service{
        margin: 10px 10px 10px 10px;
        width: 40%;
     
    }

    .services-portfolio{
        width: 100%;
    }

    .service-button{
        display: none;
    }
    .service-long{
        display: block;
    }
    .service-desc-change{
        width: 100%;
    }

    .hidden-button-a{
        display: flex;
    }

    .hidden-button-b{
        display: flex;
    }

    .hidden-button-c{
        display: flex;
    }

    .hidden-button-d{
        display: flex;
    }
}